{% layout "layout.liquid" %} {% block content %}
<div>
  <a href="/consumeds/new"><button>New Food Entry</button></a>
  {% for fruit in fruits %}
  <article>
    <a href="/consumeds/{{ consumed._id }}">
      <h2>
        {{ consumed.name }} - {% if consumed.readyToEat == true %} Ripe {% else
        %} Not Ripe {% endif %}
      </h2>
    </a>
  </article>
  {% endfor %}
  <a href="/user/logout"><button>Logout</button></a>
</div>
{% endblock %}
